

body {background: url('/img/bak.jpg'); color:#fff; text-align: center; font-family: 'Josefin Sans', sans-serif !important; 
background-size: cover; font-weight:100;}
#container {border:1px solid #fff; border-radius:10px; width:550px; margin:auto;padding:20px;margin-top:15px;}

a {color:#fff;}
.logo {height:auto; margin-top:00px;}
footer {position:absolute; padding:20px; bottom:0px;}

h1, h2, h3, h4, h5 {color:#fff !important; padding:10px 0;}

h5 {border:1px solid #fff; border-radius: 10px; width:350px; margin:auto;padding:20px; background:rgba(0, 0, 0, 0.7);line-height:1.5em !Important;}

.mg40 {margin-top:40px;}

/*.btn-success {background:#23A89E !important; border:0px !important; color:#fff !Important;} */

.pricehead {margin-bottom:0px; padding:5px 0px;border-bottom:1px solid #fff;border-top:1px solid #fff;}

.products {color:#fff; text-align: center; margin-top:40px;
}